/* GLOBAL COUNTERFORM STYLES
***********************************************************************************************************/
body, html {
    margin: 0px;
    padding: 0px;
}

body {
    background: #EEEEEE;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    /*padding:25px;*/
    height: 100%;
    line-height: 1.5;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    word-spacing: 1px;
}

/* Header / Navigation
***********************************************************************************************************/
.header_img {
    margin: 0 auto 0 auto;
    padding: 0 0 0 35px;
    position: relative;
    width: 940px;
    z-index: 11;
}
div {
    display: block;
}
#nav_loadspin {
    display: none;
    position: fixed;
    top: 8px;
    left: 35px;
    z-index: 100;
}
.nav_container.horizontal {
    line-height: 2;
    margin: 0 auto;
    padding: 15px 0px 0px 35px;
    position: relative;
    white-space: normal;
    width: 940px;
    z-index: 25;
}
.nav_container.horizontal div {
    float: left;
    padding-right: 1px;
}
.project_link, .page_link, .link_link, .nav_active {
    margin: -15px 20px 0 -9px;
}
div {
    display: block;
}
.page_link a {
    color: #555555;
}
.nav_container a {
    /*font-size: 15px;
    padding: 2px 3px 3px 3px;
    text-decoration: none;*/
}
a:-webkit-any-link {
    /*color: -webkit-link;
    text-decoration: underline;*/
    cursor: auto;
}
    /* Navigation > Links
    ***************************************************************************************************/
    .nav_container a {                           /* Applied to each navigation link */
        font-size: 15px;
        padding: 2px 3px 3px 3px;;
        text-decoration: none;
    }
    
    .project_link, .page_link, .link_link, .nav_active {
        margin: -15px 20px 0 -9px;
    }
    
    .project_link a, .page_link a, .link_link a, .nav_active a {
        font-size: 14px;
        padding: 4px 9px 5px 9px;
        text-decoration: none;
        white-space: nowrap;
    
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    .project_link a { color: #555555; }
    .project_link a:hover { background: #FFD54F; color: #000000; }
    .project_link a:active { background: #FFD54F; color: #f2f2f2;}

    .page_link a { color: #555555; }
    .page_link a:hover { background: #FFD54F; color: #000000; }
    .page_link a:active { background: #FFD54F; color: #f2f2f2; }

    .link_link a { color: #555555; text-decoration: underline; }
    .link_link a:hover { background: #000000; color: #000000; }
    .link_link a:active { background: #FFD54F; color: #f2f2f2; }

    .nav_active a { background: #FFC107; color: #ffffff; }
    .nav_active a:hover { background: #FFC107; color: #ffffff; }
    .nav_active a:active  { background:#FFC107; color:#ffffff; }

    .pagination { color: #999999; font-size: 11px; margin: 0 18px 0 0; z-index:11; }
    .bottompad .pagination { margin-left: 35px; }
    .pagination a { color: #999999; text-decoration: underline; }
    .pagination a:hover { background: #999999; color: #222222; }
    .pagination a:active { background: #999999; color: #ffffff; }

    .nav_follow { color: #999999; font-size: 11px; z-index: 11; }
    .nav_follow a { color: #999999; text-decoration: underline; }
    .nav_follow a:hover { background: #999999; color: #222222; }
    .nav_follow a:active { background: #FFC107; color: #ffffff; }
        
    .view_tag_info { color: #999999; padding-left: 3px; font-size: 11px; }
    
    .view_tag_info a { color: #0066ff; }
    .view_tag_info a:hover { background: #999999; color: #000000; }
    .view_tag_info a:active { background:#FFC107; color: #ffffff; } /* Any colours with this code #FFC107 were changed */

    /* Content > Thumbnails
    ***************************************************************************************************/
    .project_thumb {
        float: left;
        margin: 0 35px 10px 0;
        position: relative;
        text-align: center;
    }
    
    .project_thumb .hover {
        cursor: pointer;
        text-decoration: none;
    }
    
    .project_thumb .nohover {
        text-decoration: none;
    }

    .project_thumb .hover .cardimgcrop {
        border: 5px solid #dddddd;
    }
    
    .project_thumb .hover .thumb_title span {
        text-decoration: underline;
    }

    .project_thumb.active .cardimgcrop {
        border: 5px solid #dddddd;
    }

    .project_thumb.active .thumb_title span {
        text-decoration: underline;
    }
    
    .cardimgcrop {
        border: 5px solid transparent;
        margin: -5px -5px 6px -5px;
        position: relative;
        min-width: 200px;
        min-height: 134px;
    }

    .cardimgcrop.notitle_notag {
        margin-bottom: 22px;
    }
        
    .loader_holder {
        display: none;
        position: absolute;
        text-align: center;
        top: 8px; left: 8px;
        z-index: 3;
    }

    .thumb_title {
        overflow: hidden;
        white-space:nowrap;
        text-align: center;
        width: 200px;
    }

    .thumb_title.notag {
        margin: 0 0 22px 0;
    }
    
    .thumb_title .text {
        color: #000000;
        font-size: 11px;
        font-weight: bold;
        line-height: 15px;
        overflow: hidden;
        padding: 2px 3px 2px 3px;
        white-space: nowrap;
        text-align: center;
    }

    .thumb_tag {
        color: #999999;
        height: 3em;
        line-height: 15px;
        margin: 0 0 2px 0;
        overflow: hidden;
        text-align: center;
        width: 200px;
    }

    .thumb_tag.notitle {
        margin-top: 5px;
    }
    
    .thumb_tag a {
        color: #999999;
        /*font-family: Georgia, arial, serif;*/
        font-size: 11px;
        line-height: 1.5em;
        text-align: center;
        text-decoration: none;
    }
    
    .thumb_tag a:hover {
        text-decoration: underline;
    }

/* FONT SIZEING
***************************************************************************************************/
h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:25px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#373737; /*charcoal, word colours*/
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

/* SECTION
***************************************************************************************************/

section {
    display: block;
    width:800px;
    overflow: auto;
    margin: 0 auto 0 auto;
    padding-left:20px;
    padding-right:20px;
}
section.title {
    background: #00BCD4;
    padding-top:15px;
    padding-bottom:5px;
    box-shadow: 0px 6px 10px #E0E0E0; /* Silk colour */
}
section.info {
    background: #FFFFFF;
    padding-top:30px;
    padding-bottom:30px;
    box-shadow: 0px 2px 10px #E0E0E0; /* Silk colour */
}
section.footer {
    background: #FFC107;
    padding-top:5px;
    padding-bottom:5px;
    box-shadow: 0px 8px 10px #E0E0E0; /* Silk colour */
}

/* 
***************************************************************************************************/

blockquote {
  border-left:1px solid #373737; /*Border colours, charcoal*/
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #373737;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

he
ader {
  width:25%;
  float:left;
  position: fixed;
  height: 100%;
  overflow: auto;
  -webkit-font-smoothing:subpixel-antialiased;
}
div.icons {
 margin-bottom: 300px; 
}
div.gd {
  margin-bottom: 250px;
}
header ul {
  list-style:none;
  height:40px;
  padding:0;
  /* Download buttons, paper */
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #373737;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #373737;
  height:40px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

/* Box with all my indormation */
header ul a:active {
  background-color: #FFEB3B; /* paper colour */
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

small {
  font-size:11px;
}

/* what is this? */
hr {
  border:0;
  background:#E37222;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 1000px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-left: 40%;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:10px;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 500px) {
  body {
    padding:5px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
div.img {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    border: 1px solid #ffffff;
    width: 227px;
    height: 
}

div.img:hover {
    border: 1px solid #fafafa;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
